{% extends 'BackOfficeBundle:Default:dashboard_layout.html.twig' %}
{% block title %}IMA Login{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs clearfix">
        <li><a href="#">Home</a></li>
        <li><a href="#">Vendors</a></li>
        <li><a href="#">{{ vendor_name }}</a></li>
        <li><a href="#">Products</a></li>
    </ul>
{% endblock %}

{% block content %}

    <div class="inside">
        <div class="ui cards">
            <div class="fw card">
                <div class="content">

                    <!-- Errors from controller attempting to save data -->
                    {% if app.request.get('_status') == 500 %}
                        <div class="ui error message">
                            <i class="close icon"></i>
                            <div class="header">
                                Please review the following error(s):
                            </div>
                            <ul class="list">
                                <li>An error has occurred while attempting to update our records.</li>
                                <li>Error code {{ app.request.get('error') }}</li>
                            </ul>
                        </div>
                    {% endif %}
                    <!-- End of errors from controller -->

                    <!-- Success from controller attempting to save data -->
                    {% if app.request.get('_status') == 200 %}
                        <div class="ui success message">
                            <i class="close icon"></i>
                            <div class="header">
                                Success
                            </div>
                            <ul class="list">
                                <li>Product information has been successfully saved.</li>
                            </ul>
                        </div>
                    {% endif %}
                    <!-- End of success message from controller -->

                    <div class="ui segment">
                        <h2 class="ui header">
                            <i class="ticket icon"></i>
                            <div class="content">
                                {{ vendor_name | default('Vendor') }}
                                <div class="sub header">Products</div>
                            </div>
                        </h2>
                    </div>

                    <table class="datatable celled">
                        <thead>
                            <tr>
                                <th class="hidden"></th>
                                <th><input type="checkbox" id="select-all"/></th>
                                <th>Posts</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Weight</th>
                                <th>Stock</th>
                                <th>Threshold</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in vendor_products(vendor_id) %}
                        <tr>
                            <td class="hidden"></td>
                            <td>{{ product.getId()  | default('') }}</td>
                            <td><a target="_blank" href="{{ path('back_office_product_posts', {id: product.getId() }) }}">
                                    {{ posts(product.getId()) | length() | default('')}}
                                </a>
                            </td>
                            <td>{{ product.getName() | default('')}}</td>
                            <td>{{ product.getDescription()  | default('') }}</td>
                            <td>{{ product.getWeight() | default('')}}</td>
                            <td>{{ product.getTotal()  | default('') }}</td>
                            <td>{{ product.getThreshold() | default('')}}</td>
                        </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- end content -->

            </div>
            <!-- end card -->
        </div>
        <!-- end cards -->

    </div>
    <!-- end inside -->

    <form id="_archive" name="_archive" action="{{ path('back_office_products_vendor_delete', {id: vendor_id}) }}" method="post">
        <input type="hidden" id="_archive_selected_elements" name="_archive_selected_elements" value="">
    </form>

{% endblock %}
